:root {
  --main-bg-color: #fff;
  --supportive-bg-color: #2e2f42;

  /* Text */
  --main-font-family: "Roboto", sans-serif;
  --supportive-font-page: "Raleway", sans-serif;

  --title-h1-font-size: 56px;
  --title-h2-font-size: 36px;
  --title-h3-font-size: 20px;
  --main-font-size: 16px;

  --main-text-color: #434455;
  --main-title-color: #2e2f42;
  --hover-link-color: #404bbf;
}



/* Globsl */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: var(--supportive-font-page);

  color: #4d5ae5;

  font-size: 18px;
  text-decoration: none;

  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo>.dark-style {
  color: #2e2f42;
}

.logo>.light-style {
  color: #f4f4fd;
}

.list {
  list-style: none;
}

.img {}



/* HEDER */
.header {
  color: var(--main-title-color);
  font-weight: 700;
}

.header-navigation {}

.header-logo {}

.dark-style {}

.header-navigation-list {}

.header-navigation-item {}

.header-navigation-link {

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #404BBF;
}

.header-contacts {}

.header-contacts-list {}

.header-contacts-item {}

.header-contacts-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404BBF;
}


/* SECTION HERO */
.hero {
  background-color: var(--supportive-bg-color);
}

.hero-title {
  font-size: var(--title-h1-font-size);
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;

  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.hero-btn {
  line-height: 1.5;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
  color: #fff;

  cursor: pointer;
  background-color: #4D5AE5;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #404BBF;
}

/* SECTION 2 */
.benefits {}

.benefits-list {}

.benefits-item {}

.benefits-item-title {
  color: var(--main-title-color);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.benefits-item-text {
  font-size: 16px;
}

/* SECTION TEAM */
.team {
  background: var(--CLOUD, #F4F4FD);
}

.team-title {
  color: var(--main-title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
}

.team-list {}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-img {}

.team-list-title {
  color: var(--main-title-color);

  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.team-list-text {}

/*SECTION Portfolio  */
.portfolio {}

.portfolio-title {}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-list-img {}

.portfolio-list-title {
  color: var(--main-title-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.portfolio-list-text {}


/* FOOTER */

footer {
  background-color: var(--supportive-bg-color);
}

.footer-logo {}

.footer-text {
  color: #F4F4FD;
}